langchain
langchain_community
langchain[all]
langchain_openai
langchain_chroma
streamlit
python-dotenv
pypdf
numpy
chromadb
faiss-cpu
protobuf==3.20.0
opentelemetry-api==1.12.0
opentelemetry-sdk==1.12.0
opentelemetry-exporter-otlp==1.12.0
chromadb==0.3.21
